
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(1,20,52);
  overflow-x: hidden;
}
/* navbar */
.navbar{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(1,20,52);
  color: white;
}
.stat-element{
  color: rgb(254,79,121);
  font-weight: 600;
}
/* chart */
.chart-container{
  width: 80%;
  height: 70%;
  background-color: rgb(15,42,87);
}
.rounded-container{
  width: 80%;
  background-color: rgb(15,42,87);
  padding: 0.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/* containers */
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.main-container > * {
  margin: 1rem 0;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-data-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-stats-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-stats-container div {
  margin: 0 1rem;
  border-radius: 25px;
}
/* buttons */

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: none;
  color: rgb(254,79,121);
  background-color: rgb(1,20,52);
  margin: 0.4rem;
  padding: 0.2rem;
  cursor: pointer;
}
button:focus{
  border: 2px solid rgb(254,79,121);
  border-radius: 10px;
  box-sizing:border-box;
}
.subBtn{
  background-color: rgb(15,42,87); 
}
/* select country */
.country-option{
  position :relative;
}
/* added country data */
.country-data-container{
  width: 30%;
  height: 14rem;
  background-color: rgb(1,20,52);
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
}
.country-inner-data{
  margin: 0.5rem 0;
  color: rgb(254,79,121);
}
.stat{
  font-size: 80%;
  color: rgb(254,79,121);
  margin: 1rem 0;
}
#select-country{
  width: 8rem;
  background-color: rgb(15,42,87);
  color: #fff;
  border-radius: 25px;
  border: transparent;
  padding: 0.2rem;
  text-align: center;
}
/* media */

@media (max-width:1200px) {
  .total-stats-container div {
    font-size: 0.4rem;
    margin: 0 1rem;
    border-radius: 25px;
  }
}