
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(1,20,52);
  overflow-x: hidden;
}
/* navbar */
.navbar{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(1,20,52);
  color: white;
}
/* chart */
.chart-container{
  width: 80%;
  height: 70%;
  background-color: rgb(15,42,87);
}
.rounded-container{
  width: 80%;
  background-color: rgb(15,42,87);
  padding: 0.5rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* containers */
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.main-container > * {
  margin: 1rem 0;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-data-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* buttons */

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: none;
  color: rgb(254,79,121);
  background-color: rgb(1,20,52);
  margin: 0.4rem;
  padding: 0.2rem;
}
button:focus{
  border: 2px solid rgb(254,79,121);
  border-radius: 10px;
  box-sizing:border-box;
}
.subBtn{
  background-color: rgb(15,42,87);
}

/* media */

@media (max-width:1200px) {
 
}